body {
  padding: 50px 0px 0px 0px;
  color: #000000;
  text-align: center;
  background-color: #0c0c0c;
  margin-top: 50px;
  overflow-x: hidden;


  h2 {
    font-size: 30px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
  }

  h3 {
    font-size: 20px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    margin: 50px 0px 10px 0px;
  }

  .container {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    .clock {
      display: inline;
    }
  }
}

